
.Cpanel {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.servicos {
  display: flex;
  flex-wrap: wrap; /* Quebra linha se necessário */
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.servicos li {
  list-style: none;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  min-width: 180px;
  text-align: center;
  margin-left: 15px;
  float: left;
}
.adicionar{
  background-color: yellowgreen;
  position: relative;

}
.formAdd{
  display: block;
}
.btnDel{
  position: relative;
}